@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #D7E5F0;
}

div .display-4 {
  color: #BEA892;
}

a {
  color: #BEA892;
}

a:hover {
  color: #9BAEBC;
  text-decoration: none;
}
.btn {
  background-color: #4F616D;
}

.btn:hover {
  background-color: #9BAEBC;
}

.jumbotron {
  background-color: #D7E5F0;
}

:root {
  margin: 40px;
}

li {
  list-style-type: none;
}
