<h1 class="display-4">Products</h1>
<hr class="my-4">
<% if @products.any? %>
  <h3>All Products<h3>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
  
<% end %>


    

<p><%= button_to "Create new product", new_product_path, class: "btn btn-primary btn-lg"  %></p>
<p><%= link_to "Return to our home page", "/", class: "btn btn-primary btn-lg"  %></p>
